body{
font-family: Arial, Sans-serif;
margin: 0;
background: green;
color:#333;
}
.class1{
display flex;
}

header {
background:#222;
color: white;
padding: 30px;
text-align: center;
}

section{
padding: 20px;
margin : 10px;
background: white;
border-radius:5px;
}

h2{
color: #ffffff;}
ul{
list-style: none;
display: inline;
padding= 0;
}

li
{
padding= 0;
}
footer {
text-align:center;
padding:10px;
background:blue;
color:dark black;
}



